.gold {
	color: #E99743;
	font-size: 20px;
	margin-right: 5px;
}

.white {
	color: #FFF;
	font-size: 20px;
}

.inline {
  display: inline-block;
}

.bigTitle {
	font-size: 50px;
}

#question {
	font-size: 30px;
}

.borderThisQuestion {
	margin:20px;
	border-radius: 5px 20px 5px;
	border:1px solid #FFF;
	background-color: #000;
}

.borderThisAnswer {
	border:1px solid #FFF;
}

.answerRow {
	margin:4px;
}

.answerCol {
	background-color: #000;
}


.answerCol:hover {
	background-color: teal;
}

.buttonRow {
	margin-top: 50px;
}

.rightAnswer {
	background-color: green;
}

.rightAnswer:hover {
	background-color: green;
}

.wrongAnswer {
	background-color: red;
}

.wrongAnswer:hover {
	background-color: red;
}

.main {
	/*background-image: url("../images/gameBG.jpg");*/
}

body {
	background-color: #000;
}